
/* Media Screen*/
@media only screen and (min-width: 600px) {

  .loginpanel{
    width: 650px;
  }
  .regpanell{
    width: 750px;
  }
  .modal-content{
    width:650px;
  }
}

.login{
  padding: 10px;
  background-color: #007bff;
  color: #fff;
}

.loginpanel{
  margin-top: 95px;
}

.regpanell{
  margin-top: 50px;
}

.lable_reg{
  margin-top: 10px;
  text-align: center;
  color: rgb(70, 70, 70);
  
}

.register{
  background-color: #28a745;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px; 
}

.alert{
  border-radius: 0%;
}

#error_div{
  display: none;
}

