/*---four-grids-----*/ 
.four-agileits {
    background: #a2d200;
    text-align: center;
    padding: 2em 0;
}
.four-agileinfo {
    background: #22beef;
    padding: 2em 0;
    text-align: center;
}
.four-succ {
    background: #8e44ad;
    padding: 2em 0;
    text-align: center;
}
.four-wthree {
    background: #ff4a43;
    padding: 2em 0;
    text-align: center;
}
.four-grid:nth-child(1) {
    padding-left: 0;
}
.four-grid:nth-child(4) {
    padding-right: 0;
}
.four-grids {
    margin: 2em 0;
}
.four-grid i.glyphicon {
    color: #fff;
    font-size: 32px;
}
.four-grid h3 {
    font-size: 20px;
    color: #fff;
    margin: 14px 0;
}
.four-grids h4 {
    font-size: 30px;
    color: #fff;
    margin: 0;
}
/*---//four-grids-----*/ 
.card-body.p-b-20 .list-group {
    margin-bottom: 0;
}
img.lg-item-img {
    width: 51px;
    height: 51px;
    border-radius: 50%;
}
@media (max-width:991px){
    .four-grid {
        float: left;
        width: 50%;
    }
    .four-grid:nth-child(3) {
        padding-left: 0;
        margin-top:2em;
    }
    .four-grid:nth-child(4) {
         padding-right: 0;
        margin-top:2em;
    }
    .four-grid:nth-child(2) {
        padding-right: 0;
    }
}
@media (max-width:414px){
    .four-grid {
        float: left;
        width: 100%;
        padding: 0;
    }
    .four-grid:nth-child(2) {
        margin: 1em 0;
    }
    .four-grid:nth-child(3) {
        margin-top: 0em;
    }
    .four-grid:nth-child(4) {
        margin-top: 1em;
    }
    .four-grids {
        margin: 1em 0;
    }
}

.navLink {
    border: none;
    outline: none;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 18px;
}

.active, .navLink:hover {
    background-color: #666;
    color: white;
}

.navtop{
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    height: 45px;
}

.navtop a:hover{
    background-color: #666;
    color: white;
    height: 45px;
}

.paneladd{
    background-color: #007bff;
    color: #fff;
    margin-top: 30px;
    padding: 10px;
}

.paneladdorder{
    background-color: #4CAF50;
    color: #fff;
    margin-top: 30px;
    padding: 10px;
}

/* 404 page */
#main404{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fof404{
	  display: table-cell;
	  vertical-align: middle;
}

.fof404 h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
	  animation: type .5s alternate infinite;
    font-family: 'Lato', sans-serif;
    color: #888;
    margin: 0;
}

.serv_error{
    margin-bottom: 0px;
}

.userCardNo:hover{
    cursor: pointer;
}

#mySearchInput {
    background-image: url('../images/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
  }
  
  .card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
  .card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  .card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
  
  .myCustButton{
      color: #fff;
      background-color:transparent;
      border-style: solid;
      border-width: 2px;
      border-color: #fff;
      border-radius: 25px;
      padding: 10px;
  }

  .myCustButton:hover{
    color: #000;
    background-color:#fff;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 25px;
    padding: 10px;
  }

  

  /* Custom list panel css */

  .myListPanel{
      background-color: #ddffdd;
      border-left: 4px solid;
      border-color: #4CAF50;
      padding: 15px;
  }

  .divider{
      color : white;
  }

  .vendorStockLight{
    background-color: #007bff;
    color: white;
    font-weight: 500;
    padding: 15px;
    margin: 0px;
    cursor: pointer;
    border-bottom: 5px solid black;
    
  }

  .vendorStockDark{
    background-color: #E1F5FE;
    color: black;
    font-weight: 500;
    padding: 15px;
    margin: 0px;
    cursor: pointer;
    border-bottom: 5px solid black;
  }